/* This Source Code Form is subject to the terms of the Mozilla Public
 * License, v. 2.0. If a copy of the MPL was not distributed with this
 * file, You can obtain one at http://mozilla.org/MPL/2.0/. */

#aboutDialogContainer {
  background-image: url("chrome://branding/content/about-background.png");
  background-repeat: no-repeat;
  background-color: #ce5c00;
  color: #000;
}

.text-link {
  color: #338 !important;
}

.bottom-link {
  color: #000 !important;
}

#rightBox {
  /* this margin prevents text from overlapping the logo image */
  margin-left: 300px;
  margin-right: 20px;
}

#bottomBox {
  background-color: rgba(255,255,255,.7);
}
